*, *:before, *:after {

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }
* {
  -moz-box-sizing:border-box;
}
.clearfix:after, section:after, #board:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html{font-size:62.5%;}

body {
  font-family:$fontMain;
  font-weight:$fontWeight;
  color:$text;
  background:$main;
  position:absolute;
  overflow:hidden;
  width:100%;
  height:100%;
  text-align:center;
  z-index:10;
  padding:70px 3% 5%;
}

h1,h2,h3,h4,h5,h6,strong{font-weight:$fontWeight;text-transform:uppercase;}

header {
  position:absolute;
  border-bottom:1px solid $neutral2;
  height:60px;
  top:0;
  left:0;
  width:100%;
  text-align:left;
  padding:0 5%;

  h1 {
    text-transform:uppercase;
    letter-spacing: 3px;
    float:left;
    line-height:60px;
    margin:0;
    font-size:3em;
  }
  .btn {
    float:right;
    height:30px;
    line-height:30px;
    margin-top:15px;
    margin-left:5px;
    border:1px solid #fff;
    border-radius:3px;
    padding:0 20px;
    font-size:14px;
    letter-spacing:3px;
    text-transform:uppercase;
    transition:border-color .6s;
    &:hover {border-color:$highlight;cursor:pointer;}
    .fa {display:none;}
  }

}


/*Board*/

.wrapper{
  position: relative;
  display: inline-block;
  height: 100%;
  width:auto;
  z-index:100;
}

.wrapper > img {
  height: 100%;
}
#board {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height:100%;
  z-index:10;
}

section {
  border:1px solid $main;
}

section,.cell {
  width:33.3%;
  float:left;
}

.cell{
  position:relative;
  padding-top:33.3%;
  border:1px solid $mainDark;
  perspective : 1000;
  -webkit-perspective:1000;
  -moz-perspective:1000;
  z-index:1;

  &.active {
    z-index:2;
    .cell-wrapper {
      transform: rotateY(180deg) scale(1.5);
      z-index:5;
      box-shadow:0 0 3px 1px rgba(0,0,0,.2);
    }
    .front{z-index:0;}
    .back{z-index:100;}
  }

  &:hover, &.selected {
    .front {
      background:$highlightDark;
    }

  }

  &.error {
    .front {
      background:indianred;
    }
  }

  &.error:hover, &.error.selected{
    .front {
      background:#973636;
    }
  }

  .cell-wrapper {
    transition: transform 0.6s $transitionFunction;
    transform-style: preserve-3d;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    box-shadow:0 0 0 0 rgba(0,0,0,.3);
  }

  .front,.back {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    /*TODO include mixin, or add this property to grunt sass process*/
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    backface-visibility:hidden;
    transition:none;
    display:table;
  }


  .front {
    background:$highlight;
    transition:background .6s;
    z-index:2;
    .front-wrapper {
      position:relative;
      width:100%;
      height:100%;
      top:0;
      left:0;
      width:100%;
      display:table-cell;
      vertical-align: middle;
      font-size:3rem;
    }
  }

  .back {
    background:white;
    transform: rotateY(180deg);

    .digitBtn {
      float:left;
      width:33.3%;
      padding-top:33.3333%;
      cursor:pointer;
      position:relative;
      &:hover{background:$neutral2}
      .digit {
        position:absolute;
        top:0;
        left:0;
        margin:auto;
        top:0;
        left:0;
        bottom:0;
        right:0;
        width:100%;
        height:50%;
        text-align:center;
        color:#000;
      }
      &.disabled {
        cursor:default;
        .digit{opacity:0}
      }
    }

  }

}
