@media only screen and (orientation : portrait) {
  img {display:none}
  .wrapper{width:100%;height:auto;}
}

@media only screen and (max-width : 480px) {

  header {
    .btn {
      .fa {display:inline;}
      span{display:none;}
    }
  }

  .wrapper .cell {
    -webkit-perspective: none;
    perspective: none;

    .cell-wrapper {
      -webkit-transform-style: initial;
      transform-style: initial;
    }

    .front {
      .front-wrapper {
        font-size: 2rem;
      }
    }

    &.active, &.selected {
      z-index:100;
      .cell-wrapper {
        -webkit-transform: none;
        transform: none;
      }
      .back {
        z-index: 200
      }
    }

    .back {
      -webkit-transform: none;
      transform: none;
      z-index: 0;
      position: fixed;
      top: auto;
      bottom: 10px;
      left: 0;
      height: 30px;
      padding-left: 1%;
      background:none;
      .digitBtn {
        background:#fff;
        padding-top: 40px;
        border: 1px solid $main;
        border-style: none solid;
        width: 11%;
      }
    }
  }
}
