$fontMain : 'Maven Pro', sans-serif;
$fontWeight : 300;

$main : #070716;
$mainDark : #080810;
$mainLight : #535369;
$highlight : #1fbad6;
$highlightDark : #188498;
$text : #fff;
$textDark : #222;
$neutral : #666;
$neutral2 : #888;

$transitionFunction : cubic-bezier(0.175, 0.885, 0.320, 1.275);